{% extends 'base.html' %}
{% block content %}

<p>
  Examining category {{ cat.name }}.
</p>

<ul>
  {% for b in cat.builders %}
  <li>
    {{ b.name }} -
      {% if b.latest_build %}
        <a href="/{{ cat.name|urlencode }}/{{ b.name|urlencode }}/build/{{ b.latest_build }}">latest</a>:
        <span class="{{ b.latest_build_result }}">{{ b.latest_build_result }}</span>
      {% else %}
        No current builds.
      {% endif %}

      {% if b.is_building %}
        - <a href="/{{ cat.name|urlencode }}/{{ b.name|urlencode }}/build/{{ b.current_build }}">now building</a>:
        currently working on <code>{{ b.current_step }}</code>.
      {% else %}
        (idle)
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% endblock %}
